<%- include ('../partials/header')  %> 
    
    <title>About</title>
</head>
<body>
    <div class="main">
        <%- include ('../partials/links')  %> 
    
        <h1><%= title  %> </h1>
        
        <p>This site was created by Milan Panchal. It uses data from  <a href="https://www.mapbox.com/"> mapbox.com</a> and <a href="https://www.darksky.net/"> darksky.net</a></p>
    </div>
    <div class="foot">

        <%- include('../partials/footer') %> 
    </div>
    
</body>
</html>