<%- include ('../partials/header')  %> 
    
    <title>About</title>
</head>
<body>
    <div class="main">
        <%- include ('../partials/links')  %> 
    
        <h1><%= title  %> </h1>
        <img src="img/milan_face_pic.JPG" class="face" alt="Milan Panchal">

    </div>
    <div class="foot">

        <%- include('../partials/footer') %> 
    </div>
    
</body>
</html>