<%- include ('../partials/header')  %> 

    <title>Help</title>
  </head>
  <body>
    <div class="main">
      <%- include ('../partials/links')  %> 

      <h1><%= title %></h1>
      <p>Contact <a href="https://github.com/panchalmilan">github </a> for any queries.</p>
    </div>

    <div class="foot">

      <%- include('../partials/footer') %> 
    </div>

  
  </body>
  </html>
